aiohttp
annotated-types
appnope
attrs
backoff
beautifulsoup4
certifi
chromadb
crewai
crewai-tools
decorator
docx2txt
duckduckgo_search
embedchain
fastjsonschema
filelock
frozenlist
grpcio
h11
httpcore
huggingface-hub
idna
importlib_metadata
langchain
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
litellm
lxml
MarkupSafe
mixedbread-ai
ollama
openai
packaging
pdfminer.six
pdfplumber
protobuf
pydantic
pydantic_core
pypdf
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-telegram-bot
PyYAML
qdrant-client
requests
rich
setuptools
tenacity
tiktoken
tokenizers
tomli
torch
tqdm
transformers
typing_extensions
urllib3
uv