aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
auth0-python
babel
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
cohere
coloredlogs
comm
contourpy
crewai
crewai-tools
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
deprecation
distro
docker
docstring_parser
docx2txt
duckduckgo-api-haystack
duckduckgo_search
durationpy
embedchain
et_xmlfile
executing
fastapi
fastavro
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gptcache
grpc-google-iam-v1
grpcio
grpcio-status
grpcio-tools
h11
h2
haystack-ai
haystack-experimental
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
instructor
ipykernel
ipython
isoduration
jedi
Jinja2
jiter
joblib
json_repair
json5
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
lazy_imports
litellm
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mem0ai
mistune
mixedbread-ai
mmh3
monotonic
more-itertools
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
pandocfilters
parameterized
parso
pdfminer.six
pdfplumber
pexpect
pillow
pip
pip-tools
platformdirs
pluggy
portalocker
posthog
primp
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
PyJWT
pylance
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pyright
pysbd
PySocks
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-json-logger
python-telegram-bot
pytube
pytz
pyvis
PyYAML
pyzmq
qdrant-client
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
seaborn
selenium
Send2Trash
sentence-transformers
setuptools
shapely
shellingham
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tabulate
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
tomli_w
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-python-dateutil
types-requests
typing_extensions
typing-inspect
tzdata
uri-template
urllib3
uv
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wheel
wikipedia
wrapt
wsproto
yarl
zipp